/* body text and headers */
body {
    background: rgb(250, 250, 250);
    background: linear-gradient(90deg, rgb(235, 235, 235) 0%, rgb(250, 250, 250) 50%, rgb(235, 235, 235) 100%);
  }

h1 {
    color: rgb(134, 170, 136);
    font-family: "Georgia", Georgia, serif;
    font-size: 4em;
}

h2 {
    color: rgb(50, 50, 50);
    font-family: "Georgia", Georgia, serif;
    font-size: 2em;
}

h3 {
    color: rgb(50, 50, 50);
    font-family: "Georgia", Georgia, serif;
    font-size: 1.5em; 
}

p {
    color: rgb(50, 50, 50);
    font-family: "Georgia", Georgia, serif;
    font-size: 1.3em;
}

.div_righttext {
  text-align: right;
}

.div_lefttext {
  text-align: left;
}

/* about us images */
.cover_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* navigation bar */
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0; 
    background: rgb(134, 170, 136);
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    font-size: 1em;
    font-family: "Georgia", Georgia, serif;
    color: white;
  }
  
  .navigation a:hover {
    background: rgb(95, 148, 97);
  }

  @media all and (max-width: 2400px) {
    .navigation {
      justify-content: center;
      font-size: 1.1em;
    }
  }

  @media all and (max-width: 2000px) {
    .navigation {
      justify-content: center;
      font-size: 1.2em;
    }
  }

  @media all and (max-width: 1350px) {
    .navigation {
      justify-content: center;
      font-size: 1.3em;
    }
  }

  @media all and (max-width: 1100px) {
    .navigation {
      justify-content: space-around;
      font-size: 2em;
    }
  }
  
  @media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
        font-size: 1.5em;
      }
  }

  @media all and (max-width: 630px) {
    .navigation {
        justify-content: space-around;
        font-size: 1em;
      }
  }
  
/* wrapper layout */
.wrapper, html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    height: 100%;
  }
  
  .wrapper > * {
    padding: 1px;
    flex: 1 100%;
  }
  
  .header {
    background: rgba(18, 206, 81, 0.493);
  }
  
  .main {
    text-align: center;
    background: rgba(80, 90, 226, 0.247);
  }
  
  .aside-1 {
    background: rgba(231, 43, 184, 0.493);
  }
  
  .aside-2 {
    background: rgba(202, 245, 11, 0.466);
  }
  
  .footer {
    background: rgba(238, 10, 10, 0.479);
    font-size: 1.5em;
  }

  .subfooter {
    background: rgb(87, 26, 184);
  }

  @media all and (min-width: 600px) {
    .main { font-size: 1.6em; }
    .aside { flex: 0.5 0 0; }
    .footer { font-size: 4em; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 20 0px; font-size: 2em; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; font-size: 4em; }
    .subfooter { order: 5; }
  }

  @media all and (min-width: 1080px) {
    .main    { flex: 2 0px; font-size: 1.5em; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; font-size: 1.3em; }
    .subfooter { order: 5; }
  }

  @media all and (min-width: 1350px) {
    .main    { flex: 1.2 0px; font-size: 1em; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; font-size: 1.2em; }
    .subfooter { order: 5; }
  }

  @media all and (min-width: 2000px) {
    .main    { flex: 1.1 0px; font-size: 1em; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; font-size: 1.1em; }
    .subfooter { order: 5; }
  }

  @media all and (min-width: 2400px) {
    .main    { flex: 0.4 0px; font-size: 1em; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; font-size: 1em; }
    .subfooter { order: 5; }
  }
  
