body {
    background-color: rgb(250, 250, 250);
  }

h1 {
    color: rgb(134, 170, 136);
    font-family: "Georgia", Georgia, serif;
    font-size: 4em;
}

h2 {
    color: rgb(50, 50, 50);
    font-family: "Georgia", Georgia, serif;
    font-size: 2em;
}

p {
    color: rgb(50, 50, 50);
    font-family: "Georgia", Georgia, serif;
    font-size: 1.5em;
}

.jeremy_cover img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    overflow: hidden;
}

.kat_cover img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}
